<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 offset-3">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">Listado de Productos</span>
                    <button class="btn btn-success float-end" routerLink="/crear-producto">Nuevo</button>

                    <input type="text" class="form-control mt-5" name="nombre" [(ngModel)]="nombre" (ngModelChange)="Search()" placeholder="Búscar por nombre">

                    <table *ngIf="productos.length > 0" class="table table-striped table-hover mt-4">
                        <thead>
                            <tr>
                                <th scope="col">Producto</th>
                                <th scope="col">Categoría</th>
                                <th scope="col">Ubicación</th>
                                <th scope="col">Precio</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let producto of productos | paginate:{itemsPerPage:5, currentPage:pageNumber};">
                                <th>{{producto.nombre}}</th>
                                <th>{{producto.categoria}}</th>
                                <th>{{producto.ubicacion}}</th>
                                <th>{{producto.precio | currency}}</th>
                                <td>
                                    <i [routerLink]="['/editar-producto/', producto._id]" class="fas fa-edit text-secondary"></i>
                                    <i (click)="deleteProducto(producto._id)" class="fas fa-trash text-danger"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination-controls *ngIf="productos.length > 0" 
                                        (pageChange)="pageNumber = $event"
                                        previousLabel="Atrás"
                                        nextLabel="Siguiente"></pagination-controls>
                    <h5 class="mt-5" *ngIf="productos.length == 0">No hay productos para mostrar</h5>
                </div>
            </div>
        </div>
    </div>
</div>